[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
regex = "*"
nltk = "*"
wordcloud = "*"
matplotlib = "*"
textacy = "*"
sklearn = "*"
spacy = "*"
dvc = "*"

[dev-packages]

[requires]
python_version = "3.9"
