[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
regex = "*"
nltk = "*"
wordcloud = "*"
matplotlib = "*"
textacy = "*"
sklearn = "*"
spacy = "*"
dvc = {extras = ["gdrive"], version = "*"}
jupyterlab = "*"
ipykernel = "*"
seaborn = "*"
pexpect = "*"
colorama = "*"
tweepy = "*"
ipywidgets = "*"
scipy = "*"
lime = "*"
eli5 = "*"
anchor-exp = "*"

[dev-packages]

[requires]
python_version = "3.9"
